[include]
    path = ~/sync/git/gitconfig

[user]
    name = Bernardo Loureiro
    signingkey = /home/bernardo/.ssh/id_ed25519.pub

[github]
    user = bernardolm

[merge]
    log = true

[apply]
    whitespace = fix

[diff]
    renames = copies
	colorMoved = zebra

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[gpg]
    format = ssh
