[apply]
    whitespace = fix

[commit]
	gpgsign = true

[diff]
    renames = copies
    colorMoved = zebra

[github]
    user = bernardolm

[gpg]
	format = ssh

[include]
    path = ~/sync/git/gitconfig

[init]
    defaultBranch = main

[merge]
    log = true


[pull]
	rebase = true

[url "ssh://git@"]
	insteadOf = https://

[user]
    name = Bernardo Loureiro
    signingkey = ~/.ssh/id_ed25519.pub
