[include]
    path = ~/sync/git/gitconfig

[user]
    name = Bernardo Loureiro

[github]
    user = bernardolm

[merge]
    log = true

[apply]
    whitespace = fix

[diff]
    renames = copies
	colorMoved = zebra

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[gpg]
    format = ssh

[safe]
	directory = /home/bernardo/workspaces
