[user]
    name = Bernardo Loureiro

[github]
    user = bernardolm

[color]
    branch = true
    diff = true
    status = true
    ui = true

[push]
    default = matching
    followTags = true

[pull]
    default = matching
	rebase = true

[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "https://github.com"
    pushInsteadOf = "git://github.com"
    pushInsteadOf = "github:"

[core]
	pager = less -R
    editor = code --wait
    untrackedCache = true
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[alias]
    mv-index = "!f() { \
        old=\"$1\"; \
        new=\"$2\"; \
        info=$(git ls-files -s -- \"$old\" | cut -d' ' -f-2 | tr ' ' ,); \
        git update-index --add --cacheinfo \"$info,$new\" && \
        git rm --cached \"$old\"; \
    }; f"

[merge]
    log = true
    tool = meld

[apply]
    whitespace = fix

[difftool]
    prompt = false

[help]
    autocorrect = 1

[diff]
    renames = copies
    tool = meld
	colorMoved = zebra

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[branch]
    sort = -committerdate

[gpg]
    format = ssh

[include]
    path = ~/sync/git/.gitconfig

[safe]
	directory = /home/bernardo/workspaces/bernardolm/dotfiles/git/modules/dotbot

[color "status"]
	branch = 6 normal bold
	added = 10 normal
	updated = 10 normal
	localbranch = 6 normal bold
	changed = 11 normal
	header = normal
	remotebranch = 5 normal bold
	nobranch = 1 0 bold
	unmerged = 9 normal
	untracked = normal

[color "branch"]
	plain = 6 normal bold
	remote = 5 normal bold
	current = 6 normal bold reverse
	local = 6 normal bold
	upstream = 5 normal bold

[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal

[color "interactive"]
	header = normal bold
	prompt = 15 4
	help = normal
	error = 1 0 bold

[color "diff"]
	commit = 3 0
	newMoved = 15 3
	oldMovedAlternativeDimmed = 7 5 dim
	frag = normal dim
	oldMovedAlternative = 7 5
	contextBold = normal bold
	newBold = 15 2 bold
	context = normal
	oldMoved = 7 3
	oldBold = 7 1 bold
	newMovedDimmed = 15 3 dim
	func = normal dim
	meta = normal dim
	newDimmed = 15 2 dim
	newMovedAlternative = 15 5
	new = 15 2
	newMovedAlternativeDimmed = 15 5 dim
	whitespace = normal 9
	oldMovedDimmed = 7 3 dim
	oldDimmed = 7 1 dim
	old = 7 1

[color "decorate"]
	branch = 6 normal bold
	tag = 3 0
	remotebranch = 5 normal bold
	stash = normal
	grafted = 1 0 bold
	HEAD = 6 normal bold italic
