.config/autostart/gnome-*.desktop
.pytest_cache
*.bin
*.deb
*.log
*.sqlite
*.tar.gz
*.zip
*.zsh.zwc
**/__pycache__
**/*.pid
**/micro/buffers
**/micro/plug
*bluetooth*
*phone.py
*venv/
debian/*
git/submodule/*
to-fix.txt
