**/__pycache__
**/.DS_Store
**/.pytest_cache
**/.venv
**/.zcomp*
**/.zsh_history
**/.zsh_sessions
**/*.bin
**/*.deb
**/*.env
**/*.log
**/*.pid
**/*.sqlite*
**/*.tar.gz
**/*.zip
**/*.zwc
**/*venv/
**//venv/
**/wezterm/start-open-paths.txt
**/debian
**/git/submodule/*
**/micro/buffers
**/micro/plug
**/*prompt*
**/venv
