[submodule "git/submodules/dotbot"]
	path = git/submodules/dotbot
	url = https://github.com/bernardolm/dotbot.git
[submodule "git/submodules/dotbot-pip"]
	path = git/submodules/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "git/submodules/dotbot-snap"]
	path = git/submodules/dotbot-snap
	url = https://github.com/bernardolm/dotbot-snap.git
[submodule "git/submodules/dotbot-sudo"]
	path = git/submodules/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "git/submodules/dotbot-brew"]
	path = git/submodules/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "git/submodules/nanorc"]
	path = git/submodules/nanorc
	url = https://github.com/scopatz/nanorc.git
