[submodule "git/modules/dotbot"]
    active = true
    ignore = dirty
    path = git/modules/dotbot
    url = https://github.com/anishathalye/dotbot.git

[submodule "git/modules/dotbot-golang"]
    active = true
    ignore = dirty
    path = git/modules/dotbot-golang
    url = https://github.com/delicb/dotbot-golang.git

[submodule "git/modules/dotbot-pip"]
    active = true
    ignore = dirty
    path = git/modules/dotbot-pip
    url = https://github.com/sobolevn/dotbot-pip.git

[submodule "git/modules/dotbot-snap"]
    active = true
    ignore = dirty
    path = git/modules/dotbot-snap
    url = https://github.com/DrDynamic/dotbot-snap.git

[submodule "git/modules/dotbot-sudo"]
    active = true
    ignore = dirty
    path = git/modules/dotbot-sudo
    url = https://github.com/DrDynamic/dotbot-sudo.git

[submodule "git/modules/dotbot-brew"]
    active = true
    ignore = dirty
    path = git/modules/dotbot-brew
    url = https://github.com/d12frosted/dotbot-brew.git
