[user]
    name = Bernardo Loureiro

[github]
    user = bernardolm

[color]
    branch = true
    diff = true
    status = true
    ui = true

[push]
    default = matching
    followTags = true

[pull]
    default = matching
	rebase = true

[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "https://github.com"
    pushInsteadOf = "git://github.com"
    pushInsteadOf = "github:"

[core]
    editor = code --wait
    untrackedCache = true
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[alias]
    mv-index = "!f() { \
        old=\"$1\"; \
        new=\"$2\"; \
        info=$(git ls-files -s -- \"$old\" | cut -d' ' -f-2 | tr ' ' ,); \
        git update-index --add --cacheinfo \"$info,$new\" && \
        git rm --cached \"$old\"; \
    }; f"

[merge]
    log = true
    tool = meld

[apply]
    whitespace = fix

[difftool]
    prompt = false

[help]
    autocorrect = 1

[diff]
    renames = copies
    tool = meld

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[branch]
    sort = -committerdate

[include]
    path = ~/sync/.gitconfig_work
