__pycache__
.DS_Store
.pytest_cache
.venv
.zcomp*
.zsh_history
.zsh_sessions
*.bin
*.deb
*.env
*.log
*.pid
*.sqlite*
*.tar.gz
*.zip
*.zwc
*prompt*
*venv/
debian
git/submodule/*
micro/buffers
micro/plug
venv
startup-commads.txt
