include /usr/share/nano/*.nanorc
include /usr/share/nano/debian/*.nanorc
include /usr/share/nano/extra/*.nanorc
include /home/bernardo/.nano/*.nanorc

# bind       ^H      backspace       main
# bind       Del     delete      all
# bind       DEL     delete      main

# set magic
# set mouse
# set rebinddelete
# set smarthome
# set stateflags
set autoindent
set constantshow
set guidestripe 80
set historylog
set indicator
set linenumbers # Displaying the Current Line Number
set positionlog
set showcursor
set softwrap
set tabsize 2
set tabstospaces
set trimblanks
set unix
