bind 	DEL		delete			main
bind    ^H      backspace   	main

# set magic
# set rebinddelete
set autoindent
set constantshow
set guidestripe 80
set historylog
set indicator
set linenumbers
set mouse
set positionlog
set showcursor
set smarthome
set stateflags
set tabsize 4
set tabstospaces
set trimblanks
set unix
