[apply]
	whitespace = fix

[commit]
	gpgsign = true

[core]
	editor = nano
	autocrlf = false
	pager = nano

[diff]
	colorMoved = default

[fetch]
	prune = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[gpg]
	format = ssh

[init]
	defaultBranch = main

[merge]
	log = true
	conflictStyle = zdiff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[status]
	short = true

[submodule]
	recurse = true

[url "git@github.com:"]
	insteadOf = https://github.com/
