<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.wezterm.mux-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/WezTerm.app/Contents/MacOS/wezterm-mux-server</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/bernardo/Library/Logs/wezterm-mux-server.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/bernardo/Library/Logs/wezterm-mux-server.log</string>
</dict>
</plist>
