[apply]
  whitespace = fix

[commit]
  gpgsign = true

[core]
  editor = nano # delta

[delta]
  navigate = true
  line-numbers = true
  side-by-side = false

[diff]
  colorMoved = default

[fetch]
	prune = true

[gpg]
  format = ssh

[init]
  defaultBranch = main

# [interactive]
#   diffFilter = delta --color-only

[merge]
  log = true

[pull]
  rebase = false

[status]
	short = true

[submodule]
	recurse = true

[url "git@github.com:"]
  insteadOf = https://github.com/
