autopep8
bumpversion
colorama
colorz
flake8
gcalcli
glances
gnome-extensions-cli
ipdb
json-escape
oauth2client
pandas
pipx
powerline-status
psutil
pycodestyle
PyGithub
pygments
pylint
pyopenssl
pytest
python-slugify
pywal
requests
requests_cache
supervisor
tasmotizer
vobject
w1thermsensor
wheel
