autopep8
bumpversion
colorama
colorz
flake8
gcalcli
glances
gnome-extensions-cli
ipdb
oauth2client
pandas
pipx
powerline-status
psutil
pycodestyle
pygments
pylint
pyopenssl
pytest
python-slugify
pywal
supervisor
tasmotizer
thefuck
vobject
w1thermsensor
wheel
