autopep8
bumpversion
colorama
flake8
ipdb
oauth2client
pandas
pipx
powerline-status
psutil
pycodestyle
pygments
pylint
pyopenssl
pytest
python-slugify
supervisor
tasmotizer
thefuck
w1thermsensor
wheel
